
.hl {
    display: inline-block;
    /*transition-duration: 1s;
    transition-property: all;*/
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 40px;
    padding: 5px;
    /*background-position: 40px;
    background-clip: padding-box;
    background: linear-gradient(#ffffff, #ff0000 0%, #ff0000 100%, #ffffff);*/
}

/*.hl:hover {
   background: linear-gradient(#ffffff, #ffffff 0%, #ffffff 100%, #ffffff);
}*/

.hl {
    background-image:  linear-gradient(to bottom,  #000 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 100%;
    background-size: 200%;
    /*animation: anim 0.5s;
    animation-fill-mode: both;*/
}

.hl {
    background-position: 0 100%;
        /*background-image:  linear-gradient(to bottom,  rgba(255, 255, 255, 0) 50%, #000 50%);*/
}

.hl:hover {
    background-position: 0 0;
    background-position: 0 0%;
    color: #FFF
}



/*@keyframes anim {
    0% {
        background-image:  linear-gradient(to bottom,  #000 50%, rgba(255, 255, 255, 0) 50%);
        background-position: 0 100%;
        color: rgba(255, 255, 255, 0);
    }
    50% {
        background-position: 0 0;
        
    }
    49.9999999999% {
        background-position: 0 0;
        color: rgba(255, 255, 255, 0);
        background-image:  linear-gradient(to bottom,  #000 50%, rgba(255, 255, 255, 0) 50%);
    }
    50.0000000001% {
        background-position: 0 100%;
        color: #000;
        background-image:  linear-gradient(to bottom,  rgba(255, 255, 255, 0) 50%, #000 50%);
    }
    100% {
        background-position: 0 0%;
    }
}*/